DirectoryIndex index.shtml index.html index.php

Options -Indexes +FollowSymLinks

# Setting .php4 to use php4.cgi
AddType application/x-httpd-php4 .php4
Action application/x-httpd-php4 /global-bin/php4.cgi
#/global-bin/php5.cgi
#Added on '20160628_191520' by ControlPanel
Action application/x-httpd-php /global-bin/php-5.4.cgi
